.main-block {
    width: 1022px;
    height: 1022px;
    margin: 50px auto;
    box-sizing: border-box;
}

.block {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    font-size: 5rem;
    line-height: 1.2;
    
}
.black {
    background: rgba(0, 0, 0, 0.532);
    border: 1px solid white;
    text-align: center;
}
.white {
    background: white;
    border: 1px solid black;
}

.legend {
    background: #eee;
    border: 1px solid #eee;
    font-size: 3rem;
    
    
    
}